<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Submittion</title>
</head>
<body>
  <div class="home">
    <div class="h-wrapper">
      <div class="h-container">
        <div class="h-main">
          <h1 class="h-title">
            Photo Submittion
          </h1>

          <div class="h-sub">
            <h2 class="h-sub-title">
              あなたの大切な人の写真を管理します
            </h2>
          </div>
        </div>

        <div class="sign-log-wrap">
          <div class="mov-b">
          <%= link_to “/api/v1/auth/sign_in/new”, class: “mov-button” %>
            <%# <a href="#" class="mov-button">
              Sign Up
            </a> %>
          </div>
          <div class="mov-b">
            <a href="#" class="mov-button">
              Log In
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
